.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #282c34;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #77619e;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar .nav-links li:hover {
    background: #f3f1f6;
  }
  .sidebar .sub-menu li:hover {
    background: none;
    color: #77619e;
  }