.home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
  }
  .sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-section .home-content .text {
    color: #77619e;
    font-size: 35px;
  }
  .home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
  }
  .home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
  }
.smile-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.smile-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.smile-img{
    width: 60px;
}

.result-body{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}